header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
            span.font-normal Raices

        //hidden: oculta el elemento
        //En este caso lo elimina al activarse el media query por estar delante de el.
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/mis-propiedades") Mis Propiedades
            a(href="") Mi Perfil
            a(href="" class="bg-indigo-800 py-2 px-10 rounded-lg font-extrabold") Cerrar Sesion